In [1]:
print("Hello World")

Hello World

In [2]:
len("pwskills")

8

In [3]:
type(5)

int

In [4]:
type(6.7)

float

In [5]:
# function >> print, len, type >> inbuilt python function
#ceil >> roof >> nearest highest whole no value
#floor >> ground >> nearest lowest whole no value

In [6]:
import math as m #math(library) is a collection of function

In [7]:
m.ceil(6.5)

7

In [8]:
m.floor(6.5)

6

In [9]:
# function >> inbuilt function
# user defined function

In [10]:
# syntax of function
# def func():
    # do something >> body of function

In [11]:
# function is a block of code which performs some specific task or computation
# why function >> functions(code) are reusable,neat, clean and organized, save your time

In [12]:
print("Welcome ro the office Rahul")
print("Welcome ro the office Shyam")
print("Welcome ro the office Anshika")

Welcome ro the office Rahul
Welcome ro the office Shyam
Welcome ro the office Anshika

In [13]:
def greetings():
    print("Welcome to the office")

In [14]:
print("Hello world") # in print you call function by name and provide a value

Hello world

In [15]:
greetings()

Welcome to the office

In [16]:
def greetings(name):# a variable inside a function >> name is a positional argument
    print("Welcome to the office", name)

In [17]:
greetings("Ajay")

Welcome to the office Ajay

In [18]:
greetings("Vijay")

Welcome to the office Vijay

In [19]:
greetings("Sanjay")

Welcome to the office Sanjay

In [20]:
greetings() # it will through an error

TypeError: greetings() missing 1 required positional argument: 'name'

In [21]:
def greetings(ajay):
    print("Welcome to the office", ajay)

In [22]:
greetings("Bijay")

Welcome to the office Bijay

In [23]:
greetings("Sanjay")

Welcome to the office Sanjay

In [24]:
def func():
    print("This is my first function")
func()

This is my first function

In [25]:
"This is my first function"+ " in python"

'This is my first function in python'

In [26]:
func()+" in python" # through an error

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [27]:
type(func())

This is my first function

NoneType

In [28]:
def func():# return output of a function
    return "This is my first function"
func()

'This is my first function'

In [29]:
type(func())

str

In [30]:
func() + ' in python'

'This is my first function in python'

In [31]:
def func():
    return 'this is my first function',1,2.2,True,3+7j

In [32]:
func()

('this is my first function', 1, 2.2, True, (3+7j))

In [33]:
type(func())

tuple

In [34]:
func()

('this is my first function', 1, 2.2, True, (3+7j))

In [35]:
a,b,c,d,e = func()

In [36]:
a

'this is my first function'

In [37]:
b

1

In [38]:
c

2.2

In [39]:
d

True

In [40]:
e

(3+7j)

In [41]:
a,b,c,d, = func()

ValueError: too many values to unpack (expected 4)

In [42]:
a = func()
a

('this is my first function', 1, 2.2, True, (3+7j))

In [43]:
a[0]

'this is my first function'

In [44]:
a[1]

1

In [45]:
a[2]

2.2

In [46]:
a[3]

True

In [47]:
a[4]

(3+7j)

In [48]:
def func():
    calc = 2+3+6*5
    return calc

In [49]:
func()

35

In [51]:
type(func())

int

In [52]:
def square_no(a): # a is called as an argument
    return a*a

In [53]:
square_no(5)

25

In [54]:
square_no(1000)

1000000

In [56]:
def square_no(args):
    return args*args
square_no(106)

11236

In [57]:
def addition(a,b):
    return a+b

addition(5,6)

11

In [58]:
addition(11,20)

31

In [60]:
addition("pw","skills")

'pwskills'

In [61]:
addition([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [62]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [64]:
addition("skills","pw")

'skillspw'

In [65]:
addition("pw","skills")

'pwskills'

In [68]:
# a and b arguments in a function are positional arguments, it maintains the order

In [69]:
addition(b = "skills",a = "pw")

'pwskills'

In [70]:
def sum1(a,b,c):
    return a+b+c

In [71]:
sum1(1,2,3)

6

In [75]:
# default argument
def sum1(b=0,c=0,a = 0):
    return a+b+c

In [76]:
sum1(b = 3, c= 5,a = 5)

13

In [77]:
sum1(b=3, c= 5)

8

In [78]:
sum1()

0

In [80]:
# default argument is passed to function to the last or non default argument follows defaul argument

In [81]:
# default argument
def sum1(b=5,c=0,a = 0):
    return a+b+c

In [82]:
sum1()

5

In [85]:
sum1(1)

1

In [86]:
sum1(c = 1)

6

In [87]:
sum1(0)

0

In [88]:
def add_two_numbers():
    a = int(input("enter the first number"))
    b = int(input("enter the seconf number"))    
    return a+b

In [89]:
add_two_numbers()

enter the first number7
enter the seconf number8

15

In [90]:
# write a function that takes list as input and return all numeric values in a list

In [91]:
type("ajay")

str

In [92]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [94]:
only_numeric([1,2.2,"Ajay","True",3+7j,"pwskills",5,6])

[1, 2.2, 5, 6]

In [95]:
def only_numeric(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [96]:
# now in input take nested list
only_numeric([1,2.2,"Ajay","True",3+7j,"pwskills",5,6,[100,101,"Ajay"]])

[1, 2.2, 5, 6, 100, 101]

In [97]:
def sum1(a,b):
    return a+b

In [98]:
sum1(2,3)

5

In [99]:
sum1(2,3,4)

TypeError: sum1() takes 2 positional arguments but 3 were given

In [100]:
# variable length argument >> when you don't konw the no of arguments

In [101]:
def sum1(*args):
    return args

In [102]:
sum1(1,2)

(1, 2)

In [103]:
sum1(1,2,3)

(1, 2, 3)

In [104]:
sum1(1,2,3,4,4,5,6,7,8,9,7,6)

(1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 7, 6)

In [105]:
# a function which vcan take any number of arguments and return the sum
def sum1(*args):
    s = 0
    for i in args:
        s = s + i
    return s

In [106]:
sum1(3,4,6,5,4)

22

In [110]:
# variable argument with positinal arguments
def test(*args,a):
    return args,a

In [111]:
test(1,2,3,4,a = "Ram")

((1, 2, 3, 4), 'Ram')

In [112]:
test(1,2,3,4)

TypeError: test() missing 1 required keyword-only argument: 'a'

In [113]:
# variable argument >> takes any number of arguments
# positional argument >> fixed arguments

In [114]:
# write a function which can take any no of values and returns the list

In [115]:
def return_list(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [117]:
return_list(1,2,2.3,5+7j,{2,3},[4,5,[6,7]],[1,2,3,4],(2,3),True,"Ajay")

[[4, 5, [6, 7]], [1, 2, 3, 4]]

In [118]:
def team(name, project):
    return f"{name} is working on {project}" # 1:26:55

In [120]:
# variable length argument and keyword arguments together
def test1(*args, **args1):
    return args,args1

In [121]:
test1(1,2,3,4,a = 100, b = 50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [122]:
test1()

((), {})

In [129]:
# python namespace
def greet():
    message = "hello, welcome!" # message variable is local variable (scope is only inside the function)
    print(message)

In [130]:
greet()

hello, welcome!

In [131]:
print(message)

NameError: name 'message' is not defined

In [138]:
subpart = "to the course"# global variable >> can be accessed otside the function as well
def greet():
    message = "hello, welcome " + subpart
    print(message)

In [139]:
greet()

hello, welcome to the course

In [140]:
print(message)

NameError: name 'message' is not defined

In [141]:
# local variable >> a variable defined inside a fuction should be accessed inside the function only
# namespace >> scope of variables

In [142]:
# function inside function
def  marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return marks_list

In [143]:
marks_in_subject(a = 90, b=20)

[90, 20]

In [144]:
def  marks_in_subject(**kwargs):
    def total_marks(marks_list):
        return sum(marks_list)
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return total_marks(marks_list)

In [146]:
marks_in_subject(a =90, b= 40)

130

In [147]:
# call function from ouside function which is best practice
def total_marks(marks_list):
        return sum(marks_list)
    
def  marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
    return total_marks(marks_list)

In [149]:
marks_in_subject(a =90, b= 40, c= 30, d= 100)

260

In [152]:
def find_power(num, power):
    """This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no
    """
    return num ** power

In [153]:
find_power(2,50)

1125899906842624

In [154]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no

In [155]:
print(find_power.__doc__)

This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no