In [1]:
# Lambda function >> Anonymus function and short hand function
# syntax 
# lambda arguments : expression >> no need of return statement and def keyword

In [2]:
def square(x):
    return x**2
square(2)

4

In [3]:
sq_lambda = lambda x : x**2

In [4]:
sq_lambda(2)

4

In [5]:
add = lambda a,b : a+b

In [6]:
add(2,5)

7

In [7]:
is_even = lambda x : x%2 == 0
is_even(4)

True

In [8]:
x = ["Python","Data Science","Ajay"]
x

['Python', 'Data Science', 'Ajay']

In [9]:
sorted(x)

['Ajay', 'Data Science', 'Python']

In [10]:
# sort the list based on length of element of a list
le = lambda y : len(y)
le("Ajay")

4

In [11]:
sorted(x,key = le)

['Ajay', 'Python', 'Data Science']

In [13]:
fib = lambda n: n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
# factorial 5

In [15]:
def fact_num(n):
    if n == 0:
        return 1
    else:
        return n*fact_num(n-1)

In [16]:
fact_num(5)

120

In [17]:
fact = lambda n : 1 if n == 0 else n* fact(n-1)
fact(5)

120

In [18]:
# map function >> executes a specified function for each of item of an iterable
# syntax >> map(func, *iterables)

In [19]:
l = [1,2,3,4,5]
def square(n):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [20]:
square(l)

[1, 4, 9, 16, 25]

In [21]:
def sq(x):
    return x**2

In [22]:
l = [1,2,3,4,5]

In [23]:
l

[1, 2, 3, 4, 5]

In [28]:
#map(func,iterable)
list(map(sq,l))

[1, 4, 9, 16, 25]

In [29]:
def add(x):
    return x + 10
list(map(add,l))

[11, 12, 13, 14, 15]

In [31]:
# using lambda function with map
# map(lambds_func,iterables)
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25]

In [32]:
list(map(lambda x : x+10,l))

[11, 12, 13, 14, 15]

In [33]:
l = ["1","2","3"]
list(map(lambda x : int(x),l))

[1, 2, 3]

In [34]:
l1 = [100,200,300,400]
l2 = [1,2,3,4]
list(map(lambda x,y : x+y,l1,l2))

[101, 202, 303, 404]

In [35]:
s = "pwskills"
list(map(lambda x : x.upper() ,s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [37]:
words = ["python","ajay"]
list(map(str.capitalize,words))

['Python', 'Ajay']

In [38]:
grades = ["A","B","C","D"]
list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else 2),grades))

[4, 3, 2, 2]

In [40]:
# reduce >> folding/reduction
from functools import reduce
l = [2,1,3,4,4,5,6]
# syntax
# reduce(func,iterable)
# reduce will always take two arguments in function
reduce(lambda x,y:x+y,l)

25

In [41]:
reduce(lambda x,y:x+y,[])

TypeError: reduce() of empty iterable with no initial value

In [42]:
reduce(lambda x,y:x*y,l)

2880

In [43]:
words = ["Data","Science","Courses"]
reduce(lambda x,y: x+ " "+y,words)

'Data Science Courses'

In [46]:
# the highest value at each stage you are comparing x and y
numbers = [1,2,3,100,1000,6,10000]
reduce(lambda x,y : x if x>y else y,numbers)

10000

In [47]:
def factorial(n):
    return reduce(lambda x,y : x*y,range(1,n+1))

In [48]:
factorial(5)

120

In [49]:
# filter function >> it is used to filter elements from an iterable based on some condition
# syntax
# filter(func,iterable)

In [50]:
l

[2, 1, 3, 4, 4, 5, 6]

In [52]:
# filter even numbers
list(filter(lambda x : x%2 == 0,l))

[2, 4, 4, 6]

In [53]:
# filter odd numbers
list(filter(lambda x : x%2 != 0,l))

[1, 3, 5]

In [54]:
# filter negative numbers
l1 = [-1,-2,3,4,5]
list(filter(lambda x : x<0,l1))

[-1, -2]

In [55]:
# filter positive numbers
l1 = [-1,-2,3,4,5]
list(filter(lambda x : x>0,l1))

[3, 4, 5]

In [56]:
s = ["Ajay","pwskills","Data Science"]
list(filter(lambda x : len(x) > 4,s))

['pwskills', 'Data Science']

In [57]:
def check_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [58]:
num = [1,2,4,6,8,9,10,13]
list(filter(check_even,num))

[2, 4, 6, 8, 10]